.u-center {
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.main {
  background-color: #b8b9e2f9;
}

body {
  font-family: "Poppins", verdana;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
}

.heading-primary {
  font-size: 3.5rem;
  color: #e12148;
}
@media (max-width: 900px) {
  .heading-primary {
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .heading-primary {
    font-size: 2.5rem;
  }
}

.button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: #fff;
  color: #b8b9e2f9;
  border-radius: 2rem;
  display: inline-block;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.button:hover {
  background-color: #999;
  color: #fff;
  transform: scale(1.1);
}
.button:active {
  transform: translateY(0.3rem);
}

.button-square {
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: #fff;
  color: #b8b9e2f9;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.button-square:hover {
  transform: scale(1.1);
}
.button-square:active {
  transform: translateY(0.3rem);
}

.header {
  background-color: #b8b9e2f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: 10vh;
  color: #fff;
}
.header__logo {
  height: 100%;
  width: 10rem;
  background-color: transparent;
}
.header__navigation {
  padding: 1rem;
  font-size: 1.4rem;
}
.header__navigation-item {
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s;
  display: inline-block;
}
.header__navigation-item:hover {
  color: #e12148;
  transform: scale(1.2);
}
.header__navigation-item:active {
  transform: translateY(0.3rem);
}
.header__navigation-button {
  margin-left: 3rem;
}

.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}
@media (max-width: 900px) {
  .section {
    padding: 5rem 1.5rem;
  }
}

.section__home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.section__home-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section__home-description--hi {
  font-weight: 500;
  color: #fff;
}
.section__home-description--name {
  color: #fff;
  font-size: 4rem;
}
@media (max-width: 900px) {
  .section__home-description--name {
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .section__home-description--name {
    font-size: 2.5rem;
  }
}

.section__home-description--name--big {
  color: #e12148;
}
.section__home-description--job {
  color: white;
  margin-bottom: 2rem;
}
.section__home-description--buttons-resume {
  background-color: #e12148;
  color: #fff;
  margin-right: 3rem;
  transition: all 0.3s;
}
.section__home-description--buttons-resume:hover {
  background-color: #fff;
  color: #e12148;
}
.section__home-description--buttons--contact {
  transition: all 0.3s;
}
.section__home-description--buttons--contact:hover {
  background-color: #999;
  color: #fff;
}
.section__home-imageblock--me {
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s;
}
.section__home-imageblock--me:hover {
  transform: scale(1.2);
}
@media (max-width: 900px) {
  .section__home-imageblock--me:hover {
    transform: scale(1.1);
  }
}

.section__about {
  padding: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .section__about {
    padding: 4rem auto;
  }
}
@media (max-width: 375px) {
  .section__about {
    padding: 2.5rem auto;
  }
}
.section__about-heading {
  color: black;
  font-family: cursive;
  padding: 1rem;
}
@media (max-width: 900px) {
  .section__about-heading {
    padding: 0.5rem;
  }
}
.section__about-paragraph {
  font-family: verdana;
  display: inline-block;
  padding: 2rem;
}
@media (max-width: 900px) {
  .section__about-paragraph {
    padding: 1rem;
  }
}
.section__about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: space-around;
  padding: 2rem;
}
@media (max-width: 900px) {
  .section__about-skills {
    gap: 0.5rem;
    padding: 1rem;
  }
}
.section__about-skills--heading-primary {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 900px) {
  .section__about-skills--heading-primary {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  .section__about-skills--heading-primary {
    font-size: 2rem;
  }
}
.section__about-skills--heading-secondary {
  font-size: 2.5rem;
  font-weight: 300;
}
@media (max-width: 900px) {
  .section__about-skils--heading-secondary {
    font-size: 2rem;
  }
}
.section__about-skills--soft {
  background-color: white;
  padding: 1rem;
}
@media (max-width: 900px) {
  .section__about-skills--soft {
    padding: 0.5rem;
  }
}
.section__about-skills--list {
  list-style: none;
  padding: 1rem;
}
@media (max-width: 900px) {
  .section__about-skills--list {
    padding: 0.5rem;
  }
}
.section__about-skills--list--item {
  padding: 1rem;
}
@media (max-width: 900px) {
  .section__about-skills--list--item {
    padding: 0.5rem;
  }
}
.section__about-skills--technical {
  background-color: white;
  padding: 1rem;
}
@media (max-width: 900px) {
  .section__about-skills--technical {
    padding: 0.5rem;
  }
}

.section__services {
  padding: 6rem auto;
}
.section__services--heading {
  color: #000;
  font-family: cursive;
}
.section__services--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  font-size: 1.3rem;
}
.section__services--container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #000;
  transition: all 0.3s;
  color: #fff;
}
.section__services--container-item:hover {
  transform: scale(1.1);
  border: 2px solid #000;
}
.section__services--container-item--icon {
  padding: 1rem;
}
.section__services--container-item--heading {
  text-transform: uppercase;
  color: white;
}

.section__projects {
  padding: 6rem auto;
  height: 90vh;
  font-family: cursive;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 900px) {
  .section__projects {
    padding: 4rem auto;
    height: 60vh;
  }
}
@media (max-width: 375px) {
  .section__projects {
    padding: 3rem auto;
    height: 50vh;
  }
}
.section__projects-heading {
  font-size: 3rem;
  color: black;
}
@media (max-width: 900px) {
  .section__projects-heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  .section__projects-heading {
    font-size: 2rem;
  }
}
.section__projects-description {
  font-size: 1.5rem;
}
.section__projects-projects {
  width: 80%;
  height: 100%;
  margin: 3rem auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  .section__projects-projects {
    width: 70%;
    margin: 2.5rem auto;
  }
}
@media (max-width: 375px) {
  .section__projects-projects {
    width: 60%;
    margin: 2rem auto;
  }
}
.section__projects-project--item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;
}
.section__projects-project--buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .section__projects-project--buttons {
    width: 90%;
  }
}
.project__button {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}
@media (max-width: 375px) {
  .project__button {
    padding: 0.75rem 1rem;
    font-size: 1.3rem;
  }
}
.project__button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

.slider__btn {
  position: absolute;
  top: 60%;
  z-index: 100000;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  /* color: red; */
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
@media (max-width: 900px) {
  .slider__btn {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .slider__btn {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2.5rem;
  }
}
.slider__btn:focus {
  outline: none;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.footer {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 900px) {
  .footer {
    padding: 4rem;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 3rem;
  }
}
.footer__heading {
  font-size: 3.5rem;
}
@media (max-width: 900px) {
  .footer__heading {
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .footer__heading {
    font-size: 2.5rem;
  }
}
.footer__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
@media (max-width: 900px) {
  .footer__links {
    padding: 0.5rem;
  }
}
.footer__links-link {
  padding: 2rem;
}
@media (max-width: 900px) {
  .footer__links-link {
    padding: 1.5rem;
  }
}
@media (max-width: 375px) {
  .footer__links-link {
    padding: 1rem;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.sticky {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: #b8b9e2f9;
  opacity: 0.8;
  z-index: 1000;
  transition: all 1s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 5000;
  transition: all 1s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #e12148;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #e12148;
  outline: none;
}

.modal__form-button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #e12148;
  outline: none;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 1px solid black;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 2000;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
