$color-primary: #b8b9e2f9;

$color-white: #fff;
$color-black: #000;
$color-pink: #e12148;
$color-pink-light: #d84f6a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
