.section__home {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &-image {
    display: block;
    width: 30rem;
  }

  &-description {
    display: block;
    width: 60%;
    text-align: center;
  }
}
