.section__home {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--hi {
      font-weight: 500;
      color: $color-white;
    }

    &--name {
      color: $color-white;
      font-size: 4rem;

      &--big {
        color: $color-pink;
      }
    }

    &--job {
      color: white;
      margin-bottom: 2rem;
    }

    &--buttons {
      &-resume {
        background-color: $color-pink;
        color: $color-white;
        margin-right: 3rem;
        transition: all 0.3s;

        &:hover {
          background-color: $color-white;
          color: $color-pink;
        }
      }

      &--contact {
        transition: all 0.3s;
        &:hover {
          background-color: $color-grey-dark-2;
          color: $color-white;
        }
      }
    }
  }

  &-imageblock {
    &--me {
      border-radius: 50%;
      display: inline-block;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
